<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MercadoLiebre</title>


<head>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/home.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />
</head>


<header class="bg-yellow padding-8">

  <div class="top-header">
  <h1 id="margin-header" class="width-logo">
  <a href="/">
  <img src="/images/logo-mercado-liebre.svg" />
  </a>
  </h1>

  <form>
    <input class="input-search" type="text" placeholder="Buscar productos, marcas" name="search">
    <button><i class="fas fa-search icon-search"></i></button></input>
  </form>
  </div>

  <div>
    <p class="text-center margin-y-16">
    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
    crédito
    </p>
  </div>


  <section>
    <ul class="menu-order">
      <li><a href="/ofertas">Ofertas</a></li>
      <li><a href="/tiendas">Tiendas Oficiales </a></li>
      <li><a href="/vender">Vender </a></li>
      <li><a href="/ayudar">Ayuda </a></li>

      <li></li>

      <li>
        <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a>
      </li>
      <li>
        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
      </li>
      <li>
        <a href="/miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a>
      </li>
    </ul>
  </div>
  </section>

    <div class="burger-menu">
    <p class="text-center">
      <i class="fas fa-bars"></i>
    </p>
    </div>
</header>



      <img src="/images/img-home-banner.jpg" width="100%" />



<main>
  <h2>Sección: Basado en tu última visita</h2>
  <section class="article-container">
    <article class="product-card">
      <img src="/images/img-cafetera-moulinex.jpg" width="100%" />
      <div class="description-box">
      <div class="delivery-icon"><i class="fas fa-truck"></i></div>
      <div class="box-title-price">
      <p class="price">$6.770</p>
      <p class="discount">40% OFF</p>
      </div>
      <h3 class="description">Cafetera Moulinex</h3>
      </div>
    </article>
    <article class="product-card">
      <img src="/images/img-macbook-pro-2019.jpg" width="100%" />
      <div class="description-box">
      <div class="delivery-icon"><i class="fas fa-truck"></i></div>
      <div class="box-title-price">
      <p class="price">$230.000</p>
      <p class="discount">20% OFF</p>
      </div>
      <h3 class="description">MacBook Pro 2019</h3>
      </div>
    </article>
    <article class="product-card">
      <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" />
      <div class="description-box">
      <div class="delivery-icon"><i class="fas fa-truck"></i></div>
      <div class="box-title-price">
      <p class="price">$70.500</p>
      <p class="discount">10% OFF</p>
      </div>
      <h3 class="description">Samsung Galaxy S10</h3>
      </div>
    </article>
    <article class="product-card">
      <img src="/images/img-tv-samsung-smart.jpg" width="100%" />
      <div class="description-box">
      <div class="delivery-icon"><i class="fas fa-truck"></i></div>
      <div class="box-title-price">
      <p class="price">$23.200"</p>
      <p class="discount">5% OFF</p>
      </div>
      <h3 class="description">SmartTv Samsung 43</h3>
      </div>
    </article>
  </section>

</main>



<footer>
  <section class="footer-x">
    <div class="text-center">
      <p>
        <i id="icon" class="fas fa-credit-card"></i>
      </p>
      <p id="title-footer">Pagá con tarjeta o en efectivo</p>
      <p>Con Mercado Liebre Cash, tenés cuotas</p> 
      <p>sin interés con tarjeta o efectivo en puntos de</p>
      <p>¡Y siempre es seguro!</p>
    </div>

    <div class="text-center">
      <p>
        <i id="icon" class="fas fa-gift"></i>
      </p>
      <p id="title-footer">Envío gratis desde $ 2.500</p>
      <p>Solo por estar registrad@ en Mercado Liebre</p>
      <p>tenés envíos gratis en miles de productos. Es</p>
      <p>un beneficio de MercadoPuntos.</p>
    </div>

    <div class="text-center">
      <p>
        <i id="icon" class="fas fa-user-shield"></i>
      </p>
      <p id="title-footer">Seguridad, de principio a fin</p>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
      <p>no hay nada que no puedas hacer, porque</p>
      <p>estás siempre protegid@.</p>
    </div>

  </section>
      <div id="margin-footer" class="text-center">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

</footer>

</html>