<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MercadoLiebre</title>

<head>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/home.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />
</head>


<header class="bg-yellow padding-8">
<section class="top-header">
  <h1 class="width-50">
  <a href="/">
  <img src="/images/logo-mercado-liebre.svg" />
  </a>
  </h1>

  <form>
    <input id="search" type="text" placeholder="Buscar productos, marcas" name="search">
    <button type="submit"><i class="fas fa-search" id="search-btn"></i></button>
  </form>

    <p class="text-center margin-y-16">
    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
    </p>
</section>

  <nav class="nav">
    <ul class="nav-left">
      <li class="li"><a href="/ofertas">Ofertas</a></li>
      <li class="li"><a href="/tiendas">Tiendas Oficiales </a></li>
      <li class="li"><a href="/vender">Vender </a></li>
      <li class="li"><a href="/ayuda">Ayuda </a></li>
    </ul>

    <ul class="nav-right">
      <li class="li">
        <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a>
      </li>
      <li class="li">
        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
      </li>
      <li class="li">
        <a href="/miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a>
      </li>
    </ul>
  </section>
  </nav>

    <div class="burger-menu">
    <p class="text-center">
      <i class="fas fa-bars"></i>
    </p>
    </div>
</header>




<main class="bg-main">

<form action="/" method="get" class="margin-y-16 main-form">
<div class="margin-y-16">
  <label class="" for="usuario">
  <input class="input input-full" type="text" placeholder="Nombre de Usuario" id="usuario" name="usuario" required>
  </label>
</div>

<div class="margin-y-16">
  <label class="" for="password">
  <input class="input input-full" type="password" placeholder="Contraseña" id="password" name="password" required>
  </label>
</div>

<button class="button-primary" type="submit">Enviar</button>
</form>
</main>


<footer>
  <section class="footer-x">
    <div class="text-center">
      <p>
        <i id="icon" class="fas fa-credit-card"></i>
      </p>
      <p id="title-footer">Pagá con tarjeta o en efectivo</p>
      <p>Con Mercado Liebre Cash, tenés cuotas</p> 
      <p>sin interés con tarjeta o efectivo en puntos de</p>
      <p>¡Y siempre es seguro!</p>
    </div>

    <div class="text-center">
      <p>
        <i id="icon" class="fas fa-gift"></i>
      </p>
      <p id="title-footer">Envío gratis desde $ 2.500</p>
      <p>Solo por estar registrad@ en Mercado Liebre</p>
      <p>tenés envíos gratis en miles de productos. Es</p>
      <p>un beneficio de MercadoPuntos.</p>
    </div>

    <div class="text-center">
      <p>
        <i id="icon" class="fas fa-user-shield"></i>
      </p>
      <p id="title-footer">Seguridad, de principio a fin</p>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
      <p>no hay nada que no puedas hacer, porque</p>
      <p>estás siempre protegid@.</p>
    </div>

  </section>
      <div id="margin-footer" class="text-center">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

</footer>

</html>